<%- include("./head.ejs") -%>
<%- include("./header.ejs") -%>

<section>
<%-  include("./profilebar.ejs")-%>
<h5 class="card-title fw-bold mb-2">ORDERS</h5>

<% if(orderData && orderData.length) {%>
    <% orderData.forEach((order)=>{ %>
        <% order.orders.forEach((item)=>{ %>
            <div class="card mt-2">
                <div class="card-body d-flex">
                   
                    <div class="product__cart__item__pic" style="width: 6rem;">
                        <img src="/images/<%=item.product_id?.image[0]?.filename %>" class="img-fluid" alt="">
                       </div>
                    <!-- </a> -->
                       <div class="d-block mx-5">
                    <p class="card-text"><b><%= item.product_id.productname %></b> </p>
                    <p class="card-text"><b>Quantity:  <%= item.count %></b> </p>
                    <p class="card-text">  <b>₹  <%= item.price %></b> </p>
                    <p class="card-text"><b>Payment type: <%= item.payment %></b></p>

                    <%const date = new Date(item.orderDate);%>
                    <%const options = { month: 'short', day: 'numeric', year: 'numeric' };
                    const formattedDate = date.toLocaleDateString('en-US', options); %>
                    <% 
                    var status
                        switch (item.orderStatus) {
                            case 1:
                                status = "Confirmed"
                                break;
                            case 2:
                                status = "Shipped"
                                break;
                            case 3:
                                status = "Out for delivery"
                                break
                            case 4:
                                status = "Delivered"
                                break;
                            case 5:
                                status = "Cancelled"
                                break;
                            case 6:
                                status = "Cancelled by admin"
                            default:
                                break;
                        }
                    %>
                    <p class="card-text <%=item.orderStatus >4 && 'text-danger'  %>">  <b>Status:  <%= status %> on <%=formattedDate  %></b> </p><br>
                

                    
                    <button class="btn fw-bold text-white" <% if(item.orderStatus >=2){%> hidden <% } %> style="background-color:#c0130a;"
                        data-toggle="modal" data-target = "#confirmCancelModal-<%=item._id%>"
                        > CANCEL</button>
 <!-- Modal -->
 <div class="modal fade" id="confirmCancelModal-<%=item._id%>" tabindex="-1" role="dialog"
 aria-labelledby="confirmationModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="confirmationModalLabel">Confirmation
             </h5>
             <button type="button" class="close" data-dismiss="modal"
                 aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
             <!-- Add confirmation message or content here -->
             Are you sure you want to Cancel the product ?
                 
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary"
                 data-dismiss="modal">Close</button>
             <!-- Add your action button (Block/Unblock) here -->
            
             <a href="/cancelOrder?_id=<%= item._id %>" class="btn btn-danger">Cancel</a>
            
            </div>
     </div>
 </div>
</div>
<a href="/orderDetails?id=<%=item._id%>" class="btn btn-secondary text-white fw-bold w-50 py-1.5">View Details</a>




                </div>
                </div>
        </div>
        <%})}) } %>
                  </div>
        </div>
    </div>
</section>
  
<%- include("./footer.ejs") -%>
