<%- include("./head.ejs") -%>

    <%- include("./header.ejs") -%>


        <!-- Product Details -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-1 d-flex d-md-block">
                    <%singleProduct.image.forEach(img=>{ %>
                        <div class="m-1" style="width: 4rem;">
                            <img src="/images/<%=img?.filename%>" alt="Product Image" class="img-fluid small-image"><br>
                        </div>
                        <% })%>

                </div>
                <div class="col-lg-4 main-image border pt-3" style="overflow: hidden;">
                    <img src="/images/<%=singleProduct.image[0]?.filename%>" alt="Product Image" id="main-img"
                        class="img-fluid large-image">
                </div>

                <div class="col-lg-6">
                    <div class="border-bottom ms-3 p-3">
                        <input type="hidden" name="<%=singleProduct.product_id%>" id="<%=singleProduct.product_id%>">
                        <h1 class="fw-bold fs-5 ">
                            <%=singleProduct.productname%>
                        </h1>
                        <p class="text-muted  fs-5 mt-2">
                            <%=singleProduct.category.category %>
                        </p>
                        <h2 class="text-dark fs-4">₹<%=singleProduct.sellingPrice%>&nbsp;<strike class="text-danger">₹
                                    <%=singleProduct.actualPrice%></strike></h2>

                    </div>
                    <!-- <button class="btn btn-primary w-25">Add to Cart</button> -->
                    <div class="pt-5 ms-3">
                        <!-- for add to cart -->
                        <% if (productFound && productFound.product && productFound.product.length> 0) { %>
                            <a href="/cart" class="btn btn-danger fw-bold ls"
                                style="background-color:#c70261;height:3rem; width:10rem"><i
                                    class="fa fa-shopping-cart text-light py-2" style="font-size:1rem; "></i>GO TO
                                CART</a>
                            <% } else { %>
                                <a href="/add_cart?productId=<%= singleProduct._id %>" class="btn text-white fw-bold "
                                    style="background-color: #E80071;height:3rem; width:10rem"><i
                                        class="fa fa-shopping-cart text-light py-2" style="font-size:1rem; "></i>ADD TO
                                    CART</a>
                                <% } %>

                                    <% if(wishlistFound && wishlistFound.product && wishlistFound.product.length> 0){ %>
                                        <a href="/add_wishlist?productId=<%= singleProduct._id %>"
                                            class="btn fw-bold disabled text-white py-2"
                                            style="font-size:1rem; background-color:#c70261; height:3rem; width:10rem; "><i
                                                class="fa fa-heart text-light"></i> WISHLISTED</a>
                                        <% }else{ %>
                                            <a href="/add_wishlist?productId=<%= singleProduct._id %>"
                                                class="btn fw-bold text-white"
                                                style="background-color: #E80071; height:3rem; width:10rem"><i
                                                    class="fa fa-heart text-light py-2" style="font-size:1rem; "></i>
                                                WISHLIST</a>
                                            <% } %>
                    </div>


                </div>

            </div>
        </div>


        <!-- Related Section Begin -->
        <section class="container">


            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                    Previews</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <!-- <p class="note">Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                            pharetras loremos.</p> -->
                                    <div class="product__details__tab__content__item">
                                        <h5>Products Infomation</h5>
                                        <p class="mt-3">
                                            <%=singleProduct.description%>
                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-6" role="tabpanel">
                                <div class="product__details__tab__content row">
                                    <div class="col-6">
                                        <div class="m-3 mb-0 mt-4 border-secondary border-bottom border-top ">
                                            <div class=" p-1">
                                                <h5 class="fw-bold">RATINGS <i class="fa fa-light fa-star"></i></h5>
                                            </div>
                                            <div class="d-flex">
                                                <div class="m-3 ms-5 d-flex flex-column justify-content-center">
                                                    <h1><i class="fa-solid fa-star" style="color: #a4a5a8;"></i></h1>
                                                    <h5> Verified buyers</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__details__tab__content__item col-6">
                                        <!-- <div class="col-md-9 p-2"> -->
                                            
                                         
                                        <% if(review && review.reviews && review.reviews.length){ %>
                                            <% review.reviews.forEach((rev,index)=>{ %>
                                                <h6 class="fw-bold  text-muted">
                                                    <%=rev.user_id.username%>
                                                </h6>
                                                <div class="d-flex my-1">

                                                    <%const date=new Date(rev.date);%>
                                                        <%const options={ month: 'short' , day: 'numeric' ,
                                                            year: 'numeric' }; const
                                                            formattedDate=date.toLocaleDateString('en-US', options); %>
                                                            <p class="border rounded-pill  text-white fw-bold px-2"
                                                                style="width:3rem; background-color: rgb(15, 187, 15);">
                                                                <%= rev.rating %> <b><i class="fa-solid fa-star"></i></b>
                                                            </p>
                                                            <p class="text-muted">Posted on <%= formattedDate %>
                                                            </p>
                                                </div>

                                                <h6>
                                                    <%= rev.review%>
                                                </h6>

                                                <hr>
                                                <%}) %>
                                                    <% }else{ %>
                                                        <div>
                                                            <h4 class="m-3">no reviews</h4>
                                                        </div>
                                                        <% } %>
                                    </div>
                                    <!-- </div> -->
                                    <div class="product__details__tab__content__item col-6">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>



            </div>
        </section>
        <!-- Related Section End -->





        <!-- Related Section Begin -->
        <section class="related spad mt-5">

            <!-- Product Section Begin -->
            <section class="product spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">

                            <h3 class="related-title">Related Product</h3>
                        </div>
                    </div>
                    <div class="row">

                        <% similarProduct.forEach((simPrdt)=>{ %>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item p-2" style="background-color: white;min-height: 22rem;">
                                    <div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">
                                        <ul class="product__hover">
                                            <li><a href="/singleProductpage?id=<%=simPrdt.id %>"><img class="img-fluid"
                                                        src="/images/<%= simPrdt.image[0]?.filename %>" alt="image"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text  mt-5 mt-lg-0">
                                        <h6>
                                            <%= simPrdt.productname %>
                                        </h6>

                                        <p class="my-2 fs-7  fw-bold"><strike class="text-muted">₹
                                                <%=simPrdt.actualPrice %>
                                            </strike> ₹<%= simPrdt.sellingPrice %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% }) %>


                    </div>
            </section>
            <!-- Product Section End -->

        </section>
        <!-- Related Section End -->



        <%- include("./footer.ejs") -%>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/user/js/rating.js"></script>
        <script src="/user/js/imageZoom.js"></script>
        <script src="/user/js/imageSelect.js"></script>