<%- include("./head.ejs") -%>
<%- include("./header.ejs") -%>

<section>
<%-  include("./profilebar.ejs")-%>
            <div class="card">
                <div class="card-body p-3">
                    <h5 class="card-title text-center fw-bold mb-5">User Profile</h5>
                    <div class="px-5">
                        <h6 class="card-text d-flex justify-content-between py-2"><strong>Name:</strong> <%= user.username %></h6>
                        <h6 class="card-text d-flex justify-content-between  py-2"><strong>Phone:</strong> <%= user.mobile %></h6>
                        <h6 class="card-text d-flex justify-content-between py-2"><strong>Email:</strong> <%= user.email %></h6>
                    </div>
                    <div class="w-100 text-center mt-5">
                        <a href="/editProfile?_id=<%= user._id %>" class="btn ls fw-bold text-white btn-block w-100 mx-auto" style="background-color:#c70261;">EDIT PROFILE</a>
                    </div>
                   
                   

                </div>
            </div>
                  </div>
        </div>
    </div>
</section>

<%- include("./footer.ejs") -%>
